<a href="https://colab.research.google.com/github/luthvianarulian2025-sketch/KKASmt1/blob/main/1_Fungsi_print_Luthviana_Rulian_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Menampilkan Teks bebas

In [ ]:
print ('halo dunia')

halo dunia

In [ ]:
print ('selamat datang di python')

selamat datang di python

# Variabel

In [ ]:
Nama = 'Luthviana Alifa Rulian'
print(Nama)

Luthviana Alifa Rulian

In [ ]:
BB = 50
print(BB)

50

In [ ]:
Umur = 16
print(Umur)

16

# menampilkan Teks bebas dan variabel

In [ ]:
print(f"umur saya {Umur} tahun")

umur saya 16 tahun

In [ ]:
print ('halo' + Nama)

haloLuthviana Alifa Rulian

In [ ]:
nama = "Luthviana Alifa Rulian"

Latihan soal

1. Tampilkan teks bebas: hari ini saya bahagia belajar bahasa python'
2. Tampilkan variabel mata_pelajaran_favorit = kode dan kecerdasan buatan
3. Tampilkan nilai variable: nilai_nilai KKA = 100
4. Tampilkan teks bebas dan nilai variabel dengan tiga metode (f string,"+",","):"Nilai KKA saya adalah {nilai_nilai_kka} loh"

In [ ]:
print("nama\t\t: Luthviana Alifa Rulian\nkelas\t\t: Xl-1\nNomor absen\t: 24")

nama		: Luthviana Alifa Rulian
kelas		: Xl-1
Nomor absen	: 24

In [ ]:
print('hari ini saya bahagia belajar bahasa python')

hari ini saya bahagia belajar bahasa python

In [ ]:
mata_pelajaran_favorit = "kode kecerdasan buatan"
print(mata_pelajaran_favorit)

kode kecerdasan buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
nilai_kka = 100
print(f'nilai KKA saya adalah {nilai_kka} loh!')

nilai KKA saya adalah 100 loh!

In [ ]:
nilai_KKA = 100

print("nilai KKA saya adalah "+ str(nilai_KKA) + " loh!")

nilai KKA saya adalah 100 loh!

In [ ]:
print('Ja\'far Shodiq')

Ja'far Shodiq

In [ ]:
print("Ja'far Shodiq")

Ja'far Shodiq

In [ ]:
print("Bu Shinta berkata, \"semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajanan."')

Bu Shinta berkata, "Semua harus menyimak pelajanan."

In [ ]:
print("Lokasi file video karnaval ada di D:\\Karnaval 2025

# Parameter Fungsi Print

In [ ]:
Tahun = 2009
Bulan = 'Januari'
Tanggal =3

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

3 Januari 2009

In [ ]:
Tahun = 2009
Bulan = "Januari"
Tanggal =3

print(Tanggal, end=" ")
print(Bulan, end=" ")
print(Tahun)

3 Januari 2009

# Latihan

Tanggal-Bulan-Tahun

In [ ]:
Nama_depan = "Luthviana"

Nama_belakang = "Rulian"

print(Nama_depan, end=" ")
print(Nama_belakang)

Luthviana Rulian

In [ ]:
Nama_depan = "Luthviana"

Nama_belakang = "Rulian"

print(Nama_depan, Nama_belakang)

Luthviana Rulian

#Soal

In [ ]:
print('Bu shinta berkata, "berikut adalah judul pelajaran hari Senin, Selasa, Rabu silahkan disimpan di laptop masing-masing di folder local disk D:\\Jadwal pelajaran\\Kelas Xl Semster 1"')
print("\nJadwal pelajaran mingguan")
print("=====================================================")
print("jam\tsenin\t\tselasa\t\tRabu")
print("jam1\tMatematika\tBahasa\t\tInformatika")
print("jam2\tBahasa Inggris\tSejarah\t\tMa'rifatullah")
print("jam3\tInformatika\tOlahraga\tBiologi")

Bu shinta berkata, "berikut adalah judul pelajaran hari Senin, Selasa, Rabu silahkan disimpan di laptop masing-masing di folder local disk D:\Jadwal pelajaran\Kelas Xl Semster 1"

Jadwal pelajaran mingguan
=====================================================
jam	senin		selasa		Rabu
jam1	Matematika	Bahasa		Informatika
jam2	Bahasa Inggris	Sejarah		Ma'rifatullah
jam3	Informatika	Olahraga	Biologi

# parameter fungsi

In [ ]:
nama_siswa_1 = "favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print (nama_siswa_1, nama_siswa_2, nama_siswa_3)

favian Naufal Humaira

In [ ]:
nama_siswa_1 = "favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print(nama_siswa_1,nama_siswa_2,nama_siswa_3, sep=" ")

favian Naufal Humaira

In [ ]:
nama_siswa_1 = "favian"
nama_siswa_2 = "Naufal"
nama_siswa_3 = "Humaira"

print (nama_siswa_1, nama_siswa_2, nama_siswa_3, sep="*")

favian*Naufal*Humaira

In [ ]:
print (nama_siswa_1, end=" ")
print (nama_siswa_2, end=" ")
print (nama_siswa_3)

favian Naufal Humaira

In [ ]:
print (nama_siswa_1, end="*")
print (nama_siswa_2, end="*")
print (nama_siswa_3)

favian*Naufal*Humaira

In [ ]:
# tampilkan keluaran berupa:
# naufal-favian-humaira-favian
# dengan parameter sep

In [ ]:
nama_siswa_1 = "naufal"
nama_siswa_2 = "favian"
nama_siswa_3 = "Humaira"
nama_siswa_4 = "favian"

print (nama_siswa_1, nama_siswa_2, nama_siswa_3, nama_siswa_4, sep="~")

naufal~favian~Humaira~favian

In [ ]:
# tampilkan keluaran berupa:
# naufal-favian
# humaira-favian
# dengan parameter end

In [ ]:
print (nama_siswa_1, end="~")
print (nama_siswa_2,)

print (nama_siswa_3, end="~")
print (nama_siswa_4,)

naufal~favian
Humaira~favian